# Configuration file for bot
(
    dbpath  => '/home/user/.dosbox',    # Path to your DOSBox local folder
    tmppath => '/tmp/dosbox',           # Temp location for all staging
    cfgname => 'dosbox-0.74-3.conf',    # DOSBox config file name

    # Twitter API auth values
    consumer_key    => 'consumer_key',
    consumer_secret => 'consumer_secret',
    access_token    => 'access_token',
    access_token_secret => 'access_token_secret',
);
